.panda-bg-info {
    background-color: #fceae8;
}

.categories img {
    width: 100px;
}

.categories-bg-one {
    background-color: #ffa500;
}

.categories-bg-two {
    background-color: #da70d6;
}

.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}